/*
 * Multiple-Select-Vanilla SASS variables
 */


// this is the only variable without $ms prefix and exists so that user could use 
// the same Bootstrap primary color without declaring $ms-primary-color variable (which also exists)
$primary-color: #149085 !default;
$ms-primary-color: $primary-color !default;

$ms-item-border: 1px solid transparent !default;
$ms-item-hover-border: 1px solid #d5d5d5 !default;
$ms-checkbox-color: $ms-primary-color !default;
$ms-checkbox-hover-color: darken($ms-primary-color, 3%) !default;
$ms-checkbox-icon-container-border: 1px solid #d0d0d0 !default;
$ms-checkbox-icon-container-height: 1.05rem !default;
$ms-checkbox-icon-container-width: 1.05rem !default;
$ms-choice-border: 1px solid #d0d0d0 !default;
$ms-choice-border-hover-color: #c3c3c3 !default;
$ms-choice-border-radius: 4px !default;
$ms-choice-bgcolor: #fff !default;
$ms-choice-color: #444 !default;
$ms-choice-disabled-bgcolor: #f4f4f4 !default;
$ms-choice-disabled-border: 1px solid #ddd !default;
$ms-choice-padding: 0 6px 0 8px !default;
$ms-icon-color: #444 !default;
$ms-icon-color-hover: #303030 !default;
$ms-icon-size: 1em !default;
$ms-chevron-icon-size: 1.2em !default;
$ms-choice-text-align: left !default;
$ms-choice-line-height: 26px !default;
$ms-drop-background: #fff !default;
$ms-drop-color: #000 !default;
$ms-drop-border: 1px solid #aaa !default;
$ms-drop-bottom-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15) !default;
$ms-drop-top-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15) !default;
$ms-drop-border-radius: 4px !default;
$ms-drop-hide-radio-padding: 0 !default;
$ms-drop-hide-radio-hover-bgcolor: #f8f9fa !default;
$ms-drop-hide-radio-label-margin-bottom: 0 !default;
$ms-drop-hide-radio-label-padding: 5px 8px !default;
$ms-drop-hide-radio-selected-color: #fff !default;
$ms-drop-hide-radio-selected-bgcolor: $ms-primary-color !default;
$ms-drop-input-margin-left: -1.25rem !default;
$ms-drop-input-margin-top: 0.3rem !default;
$ms-drop-outline: 0 !default;
$ms-drop-optgroup-font-weight: bold !default;
$ms-drop-list-margin: 0px !default;
$ms-drop-list-padding: 0px !default;
$ms-drop-option-divider-padding: 0 !default;
$ms-drop-option-divider-border-top: 1px solid #e9ecef !default;
$ms-drop-margin-top: -1px !default;
$ms-drop-padding: 0 !default;
$ms-drop-list-item-align-items: center !default;
$ms-drop-list-item-display: flex !default;
$ms-drop-list-item-level1-padding-left: 8px !default;
$ms-drop-list-item-padding: 0.25rem 8px !default;
$ms-drop-list-item-disabled-filter: Alpha(Opacity = 35) !default;
$ms-drop-list-item-disabled-opacity: 0.35 !default;
$ms-drop-scrollbar-color: #c1c1c1 #f1f1f1 !default;
$ms-drop-zindex: 1050 !default;
$ms-input-focus-outline: none !default;
$ms-infinite-empty-option-height: 20px !default;
$ms-label-margin-bottom: 0 !default;
$ms-label-min-height: 1.25rem !default;
$ms-label-padding: 0 0 0 2px !default;
$ms-label-text-padding-left: 8px !default;
$ms-option-highlight-bg-color: rgba($ms-primary-color, 8%) !default;
$ms-ok-button-bg-color: #fff !default;
$ms-ok-button-bg-hover-color: #f9f9f9 !default;
$ms-ok-button-border-color: #ccc !default;
$ms-ok-button-border-radius: 0 0 4px 4px !default;
$ms-ok-button-border-width: 1px 0 0 0 !default;
$ms-ok-button-font-weight: 600 !default;
$ms-ok-button-padding: 0 !default;
$ms-ok-button-text-color: $ms-primary-color !default;
$ms-ok-button-text-hover-color: darken($ms-primary-color, 5%) !default;
$ms-ok-button-height: 26px !default;
$ms-ok-button-width: 100% !default;
$ms-ok-button-text-align: center !default;
$ms-optgroup-color: #000 !default;
$ms-placeholder-color: #999 !default;
$ms-search-margin: 0 !default;
$ms-search-min-height: 26px !default;
$ms-search-padding: 4px !default;
$ms-search-zindex: 10000 !default;
$ms-search-icon-close-margin: 0 4px 0 7px !default;
$ms-search-input-bg-color: #fff !default;
$ms-search-input-border: 1px solid #aaa !default;
$ms-search-input-border-radius: 5px !default;
$ms-search-input-color: #444 !default;
$ms-search-input-min-height: 24px !default;
$ms-search-input-margin: 0 !default;
$ms-search-input-outline: 0 !default;
$ms-search-input-padding: 0 5px !default;
$ms-search-input-placeholder: #999 !default;
$ms-select-all-border-bottom: 1px solid #ddd !default;
$ms-select-all-label-border: $ms-item-border !default;
$ms-select-all-label-hover-border: 1px solid transparent !default;
$ms-select-all-label-padding: 4px !default;
$ms-select-all-line-height: 18px !default;
$ms-select-all-padding: 4px !default;
$ms-select-all-text-font-weight: normal !default;
$ms-select-all-text-color: darken($ms-primary-color, 5%) !default;
$ms-select-all-text-hover-color: transparent !default;

.ms-dark-mode {
    --ms-checkbox-color: #{lighten($ms-primary-color, 10%)};
    --ms-checkbox-hover-color: #{lighten($ms-primary-color, 13%)};
    --ms-checkbox-icon-container-border: 1px solid #797979;
    --ms-choice-border: 1px solid #757575;
    --ms-choice-bgcolor: #262b2f;
    --ms-choice-color: #d4d4d4;
    --ms-drop-background: #2a2f34;
    --ms-drop-border: 1px solid #585858;
    --ms-drop-color: #cccccc;
    --ms-drop-hide-radio-hover-bgcolor: #{darken($ms-primary-color, 5%)};
    --ms-drop-option-divider-border-top: 1px solid #696969;
    --ms-drop-scrollbar-color: #828282 #424242;
    --ms-icon-color: #bcbcbc;
    --ms-icon-color-hover: #d0d0d0;
    --ms-option-highlight-bg-color: #{darken($ms-primary-color, 10%)};
    --ms-ok-button-bg-color: #262b2f;
    --ms-ok-button-bg-hover-color: #24282c;
    --ms-ok-button-border-color: #4a4a4a;
    --ms-ok-button-text-color: #{lighten($ms-primary-color, 5%)};
    --ms-ok-button-text-hover-color: #{lighten($ms-primary-color, 5%)};
    --ms-optgroup-color: #fff;
    --ms-search-input-bg-color: #2f353a;
    --ms-search-input-color: #d4d4d4;
    --ms-search-input-border: 1px solid #757575;
    --ms-select-all-border-bottom: 1px solid #5d5d5d;
    --ms-select-all-text-color: #fff;
    --ms-select-all-text-font-weight: bold;
}